
.uc_arrow_tabs *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#uc_arrow_tabs{
	font-weight:400;
	font-size:14px;
	line-height:normal;
	padding:0;
	margin:0;
}

/*tab nav
===================*/
#uc_arrow_tabs .uc_tab_nav{
	padding:20px 0px;
	float:left;
	width:25%;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
}
#uc_arrow_tabs .uc_tab_nav{
	list-style:none;
	padding:0;
}
#uc_arrow_tabs .uc_tab_nav li{
	display:block;
	position:relative;
	margin-bottom:8px;
	border-bottom:2px solid transparent;
}
#uc_arrow_tabs .uc_tab_nav li a{
	display:block;
	padding:19px 15px;
	position:relative;
	border-radius:5px 0 0 5px;
	-webkit-border-radius:5px 0 0 5px;
	-moz-border-radius:5px 0 0 5px;
	-ms-border-radius:5px 0 0 5px;
}
#uc_arrow_tabs .uc_tab_nav li a span{
	width: 52px;
	position: absolute;
	right: -23px;
	top: 5px;
	height: 52px;
	border-radius: 5px;
	-webkit-border-radius: 14px 12px 14px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	transform: rotate(43deg);
	-webkit-transform: rotate(43deg);
	-moz-transform: rotate(43deg);
	-ms-transform: rotate(43deg);
	display:none;
	z-index:1;
}
#uc_arrow_tabs .uc_tab_nav li a em{
	font-size:25px;
	display:inline-block;
	margin-right:24px;
	background:#e8e9ed;
	text-align:center;
	height:20px;
	width:20px;
	border-radius:50%;
	font-style:normal;
	font-size:12px;
	color:#9fa3a7;
	line-height: 18px;
}
#uc_arrow_tabs .uc_tab_nav li a h2{
	font-weight:700;
	font-size:13px;
	display:inline-block;
	line-height:24px;
	padding:0;
	margin:0;
	letter-spacing:2px;
  	position:relative;
	z-index:99;
}
#uc_arrow_tabs .uc_tab_nav li.r-tabs-state-active{
	border-bottom:2px solid transparent !important;
}

#uc_arrow_tabs .uc_tab_nav li.r-tabs-state-active a {
  
    border-left: 4px solid transparent;
    padding: 19px 15px 19px 11px;
}



/*tab content
===================*/
#uc_arrow_tabs .uc_tab_content{
	padding:32px 42px;
	font-size:14px;
	font-weight:400;
	float:right;
	width:60%;
	font-family: 'Open Sans', sans-serif;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
    min-height:215px;
}
#uc_arrow_tabs .uc_tab_content p{
	line-height:31px;
	padding:0;
	margin:0;
}

@media only screen and (max-width: 1280px) {
	#uc_arrow_tabs .uc_tab_content{
		width:62%;
	}
}
@media only screen and (max-width: 1020px) {
	#uc_arrow_tabs .uc_tab_content{
		width:58%;
	}
}

@media only screen and (max-width: 850px) {
	#uc_arrow_tabs .uc_tab_nav{
		width:28%;
	}
  #uc_arrow_tabs .uc_tab_content
  {
    width:55%;
  }
}
@media only screen and (max-width: 764px) {
  .r-tabs-accordion-title em
  {
    margin-left:20px !important;
  }
}








