.cq_allinone_imageoverlay {
    background-image: url(../img/icon_imageoverlay.png) !important;
    background-size: 32px;
}
.cq_allinone_flipbox {
    background-image: url(../img/icon_flipbox.png) !important;
    background-size: 32px;
}
