@charset "utf-8";
/* CSS Document */


.uc_box-countdown * { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.uc_box-countdown .uc_box-countdown_inner{ background-size:cover !important;}
.uc_box-countdown .uc_box-countdown_inner .timer { width: 100%; text-align: center; padding:27px 0; clear:both; overflow:hidden;}
.uc_box-countdown .uc_box-countdown_inner .timer div { 
	width: 170px; 
	margin: 10px;
	text-align: center; 
	position:relative;
	display:inline-block;
}
.uc_box-countdown .uc_box-countdown_inner .timer div em{ 
	font-style:normal;
	padding:60px 0;
	display: block;
	color: #fff; 
	line-height: 31px; 
	font-size:70px;
	font-family: 'Oswald', sans-serif;
	font-weight:700;
}
.uc_box-countdown .uc_box-countdown_inner .timer div span{
	background:rgba(255,255,255,0.22);
	display: block; 
	position: relative;
	line-height: 31px; 
	font-weight:400;
	font-size:20px;
	color:#fff;
	padding:25px 0;
	text-transform:uppercase;
	font-family: 'Oswald', sans-serif;
}
.uc_box-countdown .uc_box-countdown_inner .timer div span i{
	opacity:1 !important;
	color:#fff;
}

@media only screen and (max-width: 540px) {
	.uc_box-countdown .uc_box-countdown_inner .timer div em{ font-size:38px;}
	.uc_box-countdown .uc_box-countdown_inner .timer div span{ font-size:14px; padding:5px 0;}
}
