
.uc_material_icon_accordion *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.uc_material_icon_accordion .uc_container
{
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
}
.uc_material_icon_accordion .uc_container .uc-heading
{
	font-size:15px;
	line-height:30px;
	display:block;
	text-transform:uppercase;
	padding:4px 20px 4px 0px;
	font-weight:600;
	overflow:hidden;
	cursor:pointer;
}


/*----------CSS--------------------*/

.uc_material_icon_accordion .uc_container .uc_content
{
	font-size:15px;
	line-height:22px;
	padding:0px 18px 25px 18px;
	font-weight:600;
	color:#ffffff;
    display:none;
}

.uc_material_icon_accordion .uc_container .uc-heading.active
{
	padding-bottom:0px;
}

.uc_material_icon_accordion .uc_container .uc-heading
{
	padding:0px 18px;
	font-size:14px;
	line-height:21px;
	width:100%;
	margin-bottom:20px;
	color:#ffffff;
	padding-top:15px;
	padding-bottom:15px;
}


/*----------CSS--------------------*/

.uc_material_icon_accordion .uc_container span.uc_main_icon
{
	font-size:28px;
	display:table-cell;
	margin-right:0px;
	font-weight:600;
	width:80px;
	text-align:center;
	vertical-align:top;
	padding-top:20px;
	padding-bottom:20px;
	color:#ffffff;
}

.uc_material_icon_accordion .uc_container .uc_ac_box
{
	margin-bottom:10px;
	
}

.uc_material_icon_accordion .uc_container .uc_right_content
{
	width:87% ;
	display:table-cell;
}

.uc_material_icon_accordion .uc_container .uc-heading em
{ 
	display:block; 
	float:left; 
	font-style:normal;
	width:100%;
}


@media only screen and (max-width: 767px){
	.uc_material_icon_accordion .uc_container .uc-heading span { margin-left:0px;}
	.uc_material_icon_accordion .uc_container .uc-heading em { width:calc(100% - 68px); line-height:44px; padding-right:10px;}
	
}

@media only screen and (max-width: 505px){

	.uc_material_icon_accordion .uc_container .uc-heading span { margin-left:0px;}
	.uc_material_icon_accordion .uc_container .uc-heading em { width:calc(100% - 68px); line-height:18px; padding-top:4px;}
	
}