
.uc_awesome_css3_buttons *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.uc_awesome_css3_buttons .uc_container_holder {
	position:relative;
	text-align:center;
}
.uc_awesome_css3_buttons .uc_container_holder .uc_item {
	margin:0 20px;
	text-align:center;
}
.uc_awesome_css3_buttons .uc_container_holder a {
	text-decoration:none;
}
.uc_awesome_css3_buttons .uc_container_holder a:hover {
	text-decoration:none;
}
.uc_awesome_css3_buttons .uc_container_holder .uc_small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	padding: 7px 12px;
	cursor:pointer;	
	line-height:16px;
	margin:0 ;
	display:inline-block;
}
.uc_awesome_css3_buttons .uc_container_holder .uc_medium {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
	padding: 11px 15px;
	cursor:pointer;	
	line-height:18px;
	margin:0 10px 20px 0;
	display:inline-block;
}
.uc_awesome_css3_buttons .uc_container_holder .uc_big {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight:bold;
	padding: 15px 20px;
	cursor:pointer;	
	line-height:20px;
	margin:0 10px 20px 0;
	display:inline-block;
}
.uc_awesome_css3_buttons .uc_container_holder .uc_button {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;	
	behavior:url(PIE.htc);		
	box-shadow: #e3e3e3 0 1px 1px;	
	-moz-box-shadow:
		0px 1px 1px rgba(000,000,000,0.1),
		inset 0px 1px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 1px rgba(000,000,000,0.1),
		inset 0px 1px 1px rgba(255,255,255,0.7);	
	behavior:url(PIE.htc);				
}
.uc_awesome_css3_buttons .uc_container_holder .uc_orange {
	text-shadow: 1px 1px 0px #ffe8b2;
	color: #7c5d1b;
	border: 1px solid #d6a437;	
    background: #febd4b; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fed970) to(#febd4b)); /*old webkit*/
    background: -webkit-linear-gradient(#fed970, #febd4b); /*new webkit*/
    background: -moz-linear-gradient(#fed970, #febd4b); /*gecko*/
    background: -ms-linear-gradient(#fed970, #febd4b); /*IE10*/
    background: -o-linear-gradient(#fed970, #febd4b); /*opera 11.10+*/
    background: linear-gradient(#fed970, #febd4b); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#fed970, #febd4b); /*PIE*/
}
.uc_awesome_css3_buttons .uc_container_holder .uc_orange:hover {
	color: #7c5d1b;
	border: 1px solid #d6a437;	
    background: #febd4b; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#febd4b) to(#fed970)); /*old webkit*/
    background: -webkit-linear-gradient(#febd4b, #fed970); /*new webkit*/
    background: -moz-linear-gradient(#febd4b, #fed970); /*gecko*/
    background: -ms-linear-gradient(#febd4b, #fed970); /*IE10*/
    background: -o-linear-gradient(#febd4b, #fed970); /*opera 11.10+*/
    background: linear-gradient(#febd4b, #fed970); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#febd4b, #fed970); /*PIE*/	
}
.uc_awesome_css3_buttons .uc_container_holder .uc_orange-hover {
	text-shadow: 1px 1px 0px #ffe8b2;
	color: #7c5d1b;
	border: 1px solid #d6a437;	
    background: #febd4b; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#febd4b) to(#fed970)); /*old webkit*/
    background: -webkit-linear-gradient(#febd4b, #fed970); /*new webkit*/
    background: -moz-linear-gradient(#febd4b, #fed970); /*gecko*/
    background: -ms-linear-gradient(#febd4b, #fed970); /*IE10*/
    background: -o-linear-gradient(#febd4b, #fed970); /*opera 11.10+*/
    background: linear-gradient(#febd4b, #fed970); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#febd4b, #fed970); /*PIE*/	
}
.uc_awesome_css3_buttons .uc_container_holder .uc_yellow {
	text-shadow: 1px 1px 0px #ffefcb;
	color: #897931;
	border: 1px solid #dac34b;	
    background: #feed7a; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#feed7a) to(#fedb5e)); /*old webkit*/
    background: -webkit-linear-gradient(#feed7a, #fedb5e); /*new webkit*/
    background: -moz-linear-gradient(#feed7a, #fedb5e); /*gecko*/
    background: -ms-linear-gradient(#feed7a, #fedb5e); /*IE10*/
    background: -o-linear-gradient(#feed7a, #fedb5e); /*opera 11.10+*/
    background: linear-gradient(#feed7a, #fedb5e); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#feed7a, #fedb5e); /*PIE*/
}
.uc_awesome_css3_buttons .uc_container_holder .uc_yellow:hover {
	color: #897931;
	border: 1px solid #dac34b;	
    background: #fedb5e; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fedb5e) to(#feed7a)); /*old webkit*/
    background: -webkit-linear-gradient(#fedb5e, #feed7a); /*new webkit*/
    background: -moz-linear-gradient(#fedb5e, #feed7a); /*gecko*/
    background: -ms-linear-gradient(#fedb5e, #feed7a); /*IE10*/
    background: -o-linear-gradient(#fedb5e, #feed7a); /*opera 11.10+*/
    background: linear-gradient(#fedb5e, #feed7a); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#fedb5e, #feed7a); /*PIE*/	
}
.uc_awesome_css3_buttons .uc_container_holder .uc_yellow-hover {
	text-shadow: 1px 1px 0px #ffefcb;
	color: #897931;
	border: 1px solid #dac34b;	
    background: #fedb5e; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fedb5e) to(#feed7a)); /*old webkit*/
    background: -webkit-linear-gradient(#fedb5e, #feed7a); /*new webkit*/
    background: -moz-linear-gradient(#fedb5e, #feed7a); /*gecko*/
    background: -ms-linear-gradient(#fedb5e, #feed7a); /*IE10*/
    background: -o-linear-gradient(#fedb5e, #feed7a); /*opera 11.10+*/
    background: linear-gradient(#fedb5e, #feed7a); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#fedb5e, #feed7a); /*PIE*/	
}

.uc_awesome_css3_buttons .uc_container_holder .uc_red {
	text-shadow: 1px 1px 0px #ffb5b6;
	color: #993333;
	border: 1px solid #dc5653;	
    background: #fe5d62; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fe8781) to(#fe5d62)); /*old webkit*/
    background: -webkit-linear-gradient(#fe8781, #fe5d62); /*new webkit*/
    background: -moz-linear-gradient(#fe8781, #fe5d62); /*gecko*/
    background: -ms-linear-gradient(#fe8781, #fe5d62); /*IE10*/
    background: -o-linear-gradient(#fe8781, #fe5d62); /*opera 11.10+*/
    background: linear-gradient(#fe8781, #fe5d62); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#fe8781, #fe5d62); /*PIE*/
}
.uc_awesome_css3_buttons .uc_container_holder .uc_red:hover {
	color: #993333;
	border: 1px solid #dc5653;	
    background: #fe5d62; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fe5d62) to(#fe8781)); /*old webkit*/
    background: -webkit-linear-gradient(#fe5d62, #fe8781); /*new webkit*/
    background: -moz-linear-gradient(#fe5d62, #fe8781); /*gecko*/
    background: -ms-linear-gradient(#fe5d62, #fe8781); /*IE10*/
    background: -o-linear-gradient(#fe5d62, #fe8781); /*opera 11.10+*/
    background: linear-gradient(#fe5d62, #fe8781); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#fe5d62, #fe8781); /*PIE*/	
}
.uc_awesome_css3_buttons .uc_container_holder .uc_red-hover {
	text-shadow: 1px 1px 0px #ffb5b6;
	color: #993333;
	border: 1px solid #dc5653;	
    background: #fe5d62; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fe5d62) to(#fe8781)); /*old webkit*/
    background: -webkit-linear-gradient(#fe5d62, #fe8781); /*new webkit*/
    background: -moz-linear-gradient(#fe5d62, #fe8781); /*gecko*/
    background: -ms-linear-gradient(#fe5d62, #fe8781); /*IE10*/
    background: -o-linear-gradient(#fe5d62, #fe8781); /*opera 11.10+*/
    background: linear-gradient(#fe5d62, #fe8781); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#fe5d62, #fe8781); /*PIE*/	
}
.uc_awesome_css3_buttons .uc_container_holder .uc_purple {
	text-shadow: 1px 1px 0px #fbb6f5;
	color: #993333;
	border: 1px solid #dc53ce;	
    background: #f264eb; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fd81eb) to(#f264eb)); /*old webkit*/
    background: -webkit-linear-gradient(#fd81eb, #f264eb); /*new webkit*/
    background: -moz-linear-gradient(#fd81eb, #f264eb); /*gecko*/
    background: -ms-linear-gradient(#fd81eb, #f264eb); /*IE10*/
    background: -o-linear-gradient(#fd81eb, #f264eb); /*opera 11.10+*/
    background: linear-gradient(#fd81eb, #f264eb); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#fd81eb, #f264eb); /*PIE*/
}
.uc_awesome_css3_buttons .uc_container_holder .uc_purple:hover {
	color: #993333;
	border: 1px solid #dc53ce;	
    background: #f264eb; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f264eb) to(#fd81eb)); /*old webkit*/
    background: -webkit-linear-gradient(#f264eb, #fd81eb); /*new webkit*/
    background: -moz-linear-gradient(#f264eb, #fd81eb); /*gecko*/
    background: -ms-linear-gradient(#f264eb, #fd81eb); /*IE10*/
    background: -o-linear-gradient(#f264eb, #fd81eb); /*opera 11.10+*/
    background: linear-gradient(#f264eb, #fd81eb); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#f264eb, #fd81eb); /*PIE*/	
}
.uc_awesome_css3_buttons .uc_container_holder .uc_purple-hover {
	text-shadow: 1px 1px 0px #fbb6f5;
	color: #993333;
	border: 1px solid #dc53ce;	
    background: #f264eb; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f264eb) to(#fd81eb)); /*old webkit*/
    background: -webkit-linear-gradient(#f264eb, #fd81eb); /*new webkit*/
    background: -moz-linear-gradient(#f264eb, #fd81eb); /*gecko*/
    background: -ms-linear-gradient(#f264eb, #fd81eb); /*IE10*/
    background: -o-linear-gradient(#f264eb, #fd81eb); /*opera 11.10+*/
    background: linear-gradient(#f264eb, #fd81eb); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#f264eb, #fd81eb); /*PIE*/	
}
.uc_awesome_css3_buttons .uc_container_holder .uc_green {
	text-shadow: 1px 1px 0px #d6f3ae;
	color: #587930;
	border: 1px solid #86be46;	
    background: #a7e059; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#baf765) to(#a7e059)); /*old webkit*/
    background: -webkit-linear-gradient(#baf765, #a7e059); /*new webkit*/
    background: -moz-linear-gradient(#baf765, #a7e059); /*gecko*/
    background: -ms-linear-gradient(#baf765, #a7e059); /*IE10*/
    background: -o-linear-gradient(#baf765, #a7e059); /*opera 11.10+*/
    background: linear-gradient(#baf765, #a7e059); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#baf765, #a7e059); /*PIE*/
}
.uc_awesome_css3_buttons .uc_container_holder .uc_green:hover {
	color: #587930;
	border: 1px solid #86be46;	
    background: #a7e059; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#a7e059) to(#baf765)); /*old webkit*/
    background: -webkit-linear-gradient(#a7e059, #baf765); /*new webkit*/
    background: -moz-linear-gradient(#a7e059, #baf765); /*gecko*/
    background: -ms-linear-gradient(#a7e059, #baf765); /*IE10*/
    background: -o-linear-gradient(#a7e059, #baf765); /*opera 11.10+*/
    background: linear-gradient(#a7e059, #baf765); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#a7e059, #baf765); /*PIE*/	
}
.uc_awesome_css3_buttons .uc_container_holder .uc_green-hover {
	text-shadow: 1px 1px 0px #d6f3ae;
	color: #587930;
	border: 1px solid #86be46;	
    background: #a7e059; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#a7e059) to(#baf765)); /*old webkit*/
    background: -webkit-linear-gradient(#a7e059, #baf765); /*new webkit*/
    background: -moz-linear-gradient(#a7e059, #baf765); /*gecko*/
    background: -ms-linear-gradient(#a7e059, #baf765); /*IE10*/
    background: -o-linear-gradient(#a7e059, #baf765); /*opera 11.10+*/
    background: linear-gradient(#a7e059, #baf765); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#a7e059, #baf765); /*PIE*/	
}
.uc_awesome_css3_buttons .uc_container_holder .uc_blue {
	text-shadow: 1px 1px 0px #b3e8f9;
	color: #3c7389;
	border: 1px solid #4bb6da;	
    background: #5ccded; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#7ad6fc) to(#5ccded)); /*old webkit*/
    background: -webkit-linear-gradient(#7ad6fc, #5ccded); /*new webkit*/
    background: -moz-linear-gradient(#7ad6fc, #5ccded); /*gecko*/
    background: -ms-linear-gradient(#7ad6fc, #5ccded); /*IE10*/
    background: -o-linear-gradient(#7ad6fc, #5ccded); /*opera 11.10+*/
    background: linear-gradient(#7ad6fc, #5ccded); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#7ad6fc, #5ccded); /*PIE*/
}
.uc_awesome_css3_buttons .uc_container_holder .uc_blue:hover {
	color: #3c7389;
	border: 1px solid #4bb6da;	
    background: #5ccded; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#5ccded) to(#7ad6fc)); /*old webkit*/
    background: -webkit-linear-gradient(#5ccded, #7ad6fc); /*new webkit*/
    background: -moz-linear-gradient(#5ccded, #7ad6fc); /*gecko*/
    background: -ms-linear-gradient(#5ccded, #7ad6fc); /*IE10*/
    background: -o-linear-gradient(#5ccded, #7ad6fc); /*opera 11.10+*/
    background: linear-gradient(#5ccded, #7ad6fc); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#5ccded, #7ad6fc); /*PIE*/	
}
.uc_awesome_css3_buttons .uc_container_holder .uc_blue-hover {
	text-shadow: 1px 1px 0px #b3e8f9;
	color: #3c7389;
	border: 1px solid #4bb6da;	
    background: #5ccded; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#5ccded) to(#7ad6fc)); /*old webkit*/
    background: -webkit-linear-gradient(#5ccded, #7ad6fc); /*new webkit*/
    background: -moz-linear-gradient(#5ccded, #7ad6fc); /*gecko*/
    background: -ms-linear-gradient(#5ccded, #7ad6fc); /*IE10*/
    background: -o-linear-gradient(#5ccded, #7ad6fc); /*opera 11.10+*/
    background: linear-gradient(#5ccded, #7ad6fc); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#5ccded, #7ad6fc); /*PIE*/	
}
.uc_awesome_css3_buttons .uc_container_holder .uc_white {
	text-shadow: 1px 1px 0px #f8f8f8;
	color: #717171;
	border: 1px solid #d3d3d3;	
    background: #ededed; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9) to(#ededed)); /*old webkit*/
    background: -webkit-linear-gradient(#f9f9f9, #ededed); /*new webkit*/
    background: -moz-linear-gradient(#f9f9f9, #ededed); /*gecko*/
    background: -ms-linear-gradient(#f9f9f9, #ededed); /*IE10*/
    background: -o-linear-gradient(#f9f9f9, #ededed); /*opera 11.10+*/
    background: linear-gradient(#f9f9f9, #ededed); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#f9f9f9, #ededed); /*PIE*/
}
.uc_awesome_css3_buttons .uc_container_holder .uc_white:hover {
	color: #717171;
	border: 1px solid #d3d3d3;	
    background: #ededed; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed) to(#f9f9f9)); /*old webkit*/
    background: -webkit-linear-gradient(#ededed, #f9f9f9); /*new webkit*/
    background: -moz-linear-gradient(#ededed, #f9f9f9); /*gecko*/
    background: -ms-linear-gradient(#ededed, #f9f9f9); /*IE10*/
    background: -o-linear-gradient(#ededed, #f9f9f9); /*opera 11.10+*/
    background: linear-gradient(#ededed, #f9f9f9); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#ededed, #f9f9f9); /*PIE*/	
}
.uc_awesome_css3_buttons .uc_container_holder .uc_white-hover {
	text-shadow: 1px 1px 0px #f8f8f8;
	color: #717171;
	border: 1px solid #d3d3d3;	
    background: #ededed; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed) to(#f9f9f9)); /*old webkit*/
    background: -webkit-linear-gradient(#ededed, #f9f9f9); /*new webkit*/
    background: -moz-linear-gradient(#ededed, #f9f9f9); /*gecko*/
    background: -ms-linear-gradient(#ededed, #f9f9f9); /*IE10*/
    background: -o-linear-gradient(#ededed, #f9f9f9); /*opera 11.10+*/
    background: linear-gradient(#ededed, #f9f9f9); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#ededed, #f9f9f9); /*PIE*/	
}
.uc_awesome_css3_buttons .uc_container_holder .uc_black {
	text-shadow: 1px 1px 0px #1f1f1f;
	color: #fff;
	border: 1px solid #464646;	
    background: #616161; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#848484) to(#616161)); /*old webkit*/
    background: -webkit-linear-gradient(#848484, #616161); /*new webkit*/
    background: -moz-linear-gradient(#848484, #616161); /*gecko*/
    background: -ms-linear-gradient(#848484, #616161); /*IE10*/
    background: -o-linear-gradient(#848484, #616161); /*opera 11.10+*/
    background: linear-gradient(#848484, #616161); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#848484, #616161); /*PIE*/
}
.uc_awesome_css3_buttons .uc_container_holder .uc_black:hover {
	color: #fff;
	border: 1px solid #464646;	
    background: #616161; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#616161) to(#848484)); /*old webkit*/
    background: -webkit-linear-gradient(#616161, #848484); /*new webkit*/
    background: -moz-linear-gradient(#616161, #848484); /*gecko*/
    background: -ms-linear-gradient(#616161, #848484); /*IE10*/
    background: -o-linear-gradient(#616161, #848484); /*opera 11.10+*/
    background: linear-gradient(#616161, #848484); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#616161, #848484); /*PIE*/	
}
.uc_awesome_css3_buttons .uc_container_holder .uc_black-hover {
	text-shadow: 1px 1px 0px #1f1f1f;
	color: #fff;
	border: 1px solid #464646;	
    background: #616161; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#616161) to(#848484)); /*old webkit*/
    background: -webkit-linear-gradient(#616161, #848484); /*new webkit*/
    background: -moz-linear-gradient(#616161, #848484); /*gecko*/
    background: -ms-linear-gradient(#616161, #848484); /*IE10*/
    background: -o-linear-gradient(#616161, #848484); /*opera 11.10+*/
    background: linear-gradient(#616161, #848484); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#616161, #848484); /*PIE*/	
}

