
.uc_default_accordion *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.uc_default_accordion .uc_container
{
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}
.uc_default_accordion .uc_container .uc-heading
{
	font-size:17px;
	line-height:30px;
	display:block;
	padding:12px 20px;
	font-weight:400;
	border-top:2px solid;
	overflow:hidden;
	cursor:pointer;
}

.uc_default_accordion .uc_container .uc-heading:first-child
{
	border-top:0px solid;
}

/*----------CSS--------------------*/

.uc_default_accordion .uc_container .uc_content
{
	font-size:15px;
	line-height:22px;
	padding:12px 22px 33px;
	font-weight:400;
	color:#39b6f0;
    display:none;
}

.uc_default_accordion .uc_container .uc-heading
{
	color:#313131;
	border-color:#f4f6fa;
}

.uc_default_accordion .uc_container .uc-heading.active
{
	color:#39b6f0 !important;
}

/*----------CSS--------------------*/

.uc_default_accordion .uc_container .uc-heading span
{
	float:right;
	font-size:22px;
	display:block;
	line-height:30px;
	margin-left:20px;
}

.uc_default_accordion .uc_container .uc-heading span.uc_active
{
	display:none;
}

.uc_default_accordion .uc_container .uc-heading span.uc_dactive
{
	display:block;
}

.uc_default_accordion .uc_container .uc-heading.active span.uc_active
{
	display:block;
}

.uc_default_accordion .uc_container .uc-heading.active span.uc_dactive
{
	display:none;
}
.uc_default_accordion .uc_container .uc-heading em
{ 
	display:block; 
	float:left; 
	width:calc(100% - 80px);
	font-style:normal;
}


@media only screen and (max-width: 767px){
	

	.uc_default_accordion .uc_container .uc-heading span { margin-right:0px;}
	.uc_default_accordion .uc_container .uc-heading em {  display:block; float:left; width:calc(100% - 35px);}
	
}