.uc_caption_hover_effects_5* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.uc_caption_hover_effects_5 .uc_content_box
{
    font-family: 'Lato', sans-serif;
	color: #b3b9bf;
	display: inline-block;
    margin: 0;
    position: relative;
    text-align: left;
    width: 100%;
	height:100%;
}

.uc_caption_hover_effects_5 .uc_content_figure
{
	margin: 0;
    position: relative;
    width: 100%;
	
}

.uc_caption_hover_effects_5 .uc_content_figure img
{
	transition: transform 0.4s ease 0s;
	z-index: 10;
	display: block;
	max-width: 100%;
	position: relative;
	width: 100%;
}

.uc_caption_hover_effects_5 .uc_content_figure:hover img
{
	transform: scale(0.4);
}

.uc_caption_hover_effects_5 .uc_content_figure:hover .uc_figcaption
{
    transform: rotateY(0deg);
    transition: transform 0.4s ease 0s, opacity 0.1s ease 0s;
}

.uc_caption_hover_effects_5 .uc_content_figure:hover .uc_figcaption {
    opacity: 1;
    transform: scale(1);
}

.uc_caption_hover_effects_5 .uc_figcaption
{
	background: #2c3f52 none repeat scroll 0 0;
    color: #ed4e6e;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
	backface-visibility: hidden;
    height: 100%;
    opacity: 0;
    transform: scale(0.7);
    transition: transform 0.4s ease 0s, opacity 0.4s ease 0s;
    width: 100%;
	box-sizing:border-box;
}
	
.uc_caption_hover_effects_5 .uc_figcaption h3
{
    color: #fff;
    margin: 0;
    padding: 0;
}

.uc_caption_hover_effects_5 .uc_content_figure a
{
	bottom: 20px;
    position: absolute;
    right: 20px;
}

.uc_caption_hover_effects_5 .uc_figcaption a
{
	background: #ed4e6e none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
	text-decoration:none;
}

