@charset "utf-8";
/* CSS Document */


.uc_elegant_countdown * { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.uc_elegant_countdown .uc_elegant_countdown_inner{ background-size:cover !important;}
.uc_elegant_countdown .uc_elegant_countdown_inner .timer { width: 100%; text-align: center; padding:27px 0; clear:both; overflow:hidden;}
.uc_elegant_countdown .uc_elegant_countdown_inner .timer div {
	background:#fff;
	width: 170px; 
	margin: 10px 10px;
	text-align: center; 
	position:relative;
	display: inline-block;
	
}
.uc_elegant_countdown .uc_elegant_countdown_inner .timer div em{ 
	font-style:normal;
	padding:60px 0 40px;
	display: block;
	line-height: 31px; 
	font-size:70px;
	font-family: 'Oswald', sans-serif;
	font-weight:700;
}
.uc_elegant_countdown .uc_elegant_countdown_inner .timer div span{
	display: block; 
	position: relative;
	line-height: 31px; 
	font-weight:400;
	font-size:20px;
	padding:0 0 25px 0;
	text-transform:uppercase;
	font-family: 'Oswald', sans-serif;
}

@media only screen and (max-width: 540px) {
	.uc_elegant_countdown .uc_elegant_countdown_inner .timer div em{ font-size:38px;}
	.uc_elegant_countdown .uc_elegant_countdown_inner .timer div span{ font-size:14px; padding:5px 0;}
}
