.uc_simple_icon_content_box * {
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#fff;
	}
	
.uc_simple_icon_content_box .uc_icon {
	float:left;
}

.uc_simple_icon_content_box .uc_icon i {
	font-size:45px;
	font-family: 'FontAwesome';
}		

.uc_simple_icon_content_box  .uc_discription {
	overflow:hidden;
	padding:0 15px 0;
}

.uc_simple_icon_content_box .uc_block_bottom {
    font-size: 45px;
    max-width: 100%;
    padding: 30px 32px;
}



.uc_simple_icon_content_box .uc_block_bottom h2 {    
    display: inline-block;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
}	


    
@media (max-width:767px) {
    .uc_block_bottom p {  display: none;}
	.uc_simple_icon_content_box .uc_block_bottom h2 {font-size: 23px; margin-bottom:0; line-height: 40px;}
	.uc_simple_icon_content_box .uc_block_bottom { padding: 15px;  font-size: 40px;}
	.uc_simple_icon_content_box .uc_discription { padding:0;}
	
    }
    
@media (max-width:480px) {
	.uc_block_bottom p {  display: none;}
	.uc_simple_icon_content_box .uc_block_bottom h2 { font-size: 23px;line-height: 40px; margin-bottom: 6px; padding: 4px 15px 0;}
	.uc_simple_icon_content_box .uc_block_bottom { padding: 15px;  font-size: 40px;}
	.uc_simple_icon_content_box .uc_discription { padding:0;}
    }
	
@media (max-width:320px) {
	.uc_simple_icon_content_box .uc_block_bottom h2 { font-size: 23px;line-height: 25px; margin-bottom: 6px; padding: 4px 15px 0;}
}	