@charset "utf-8";
/* CSS Document */


.uc_hex_countdown * { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.uc_hex_countdown .uc_hex_countdown_inner{ background-size:cover !important;}
.uc_hex_countdown .uc_hex_countdown_inner .timer { width: 100%; text-align: center; padding:27px 0; clear:both; overflow:hidden;}
.uc_hex_countdown .uc_hex_countdown_inner .timer div {
	width:21%;
	float:left;
	text-align:center;
	margin:0 2%;
}

.uc_hex_countdown .uc_hex_countdown_inner .timer div span{
	position: relative;
	width: 170px; 
	height: 96px;
	background-color: #ffffff;
	margin: 48px 0;
	display:inline-block;
	font-size:55px;
	line-height:70px;
	font-family: 'Oswald', sans-serif;
	font-weight:400;
 
}

.uc_hex_countdown .uc_hex_countdown_inner .timer div span:before,
.uc_hex_countdown .uc_hex_countdown_inner .timer div span:after {
	content: "";
	position: absolute;
	width: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	left:0;
}

.uc_hex_countdown .uc_hex_countdown_inner .timer div span:before {
	bottom: 100%;
	border-bottom: 48px solid #ffffff;
}

.uc_hex_countdown .uc_hex_countdown_inner .timer div span:after {
	top: 100%;
	width: 0;
	border-top: 48px solid #ffffff;
}

.uc_hex_countdown .uc_hex_countdown_inner .timer div span em{
	text-transform:uppercase;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	font-size:16px;
	line-height:31px;
	font-style:normal;
	display:block;
}

@media only screen and (max-width: 767px) {
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span{ font-size:32px; line-height:normal;}
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span em{ font-size:13px;}
	
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span{ position: relative; width: 130px; height: 70px;}
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:before,
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:after {border-left: 65px solid transparent; border-right: 65px solid transparent;}
	
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:before { border-bottom: 35px solid #ffffff;}
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:after { border-top: 35px solid #ffffff;}
}

@media only screen and (max-width: 675px) {
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span{ font-size:36px; line-height:normal;}
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span em{ font-size:13px;}
	
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span{ position: relative; width: 110px; height: 60px;}
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:before,
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:after {border-left: 55px solid transparent; border-right: 55px solid transparent;}
	
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:before { border-bottom: 30px solid #ffffff;}
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:after { border-top: 30px solid #ffffff;}
  
	
	
}

@media only screen and (max-width: 540px) {
	
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span{ font-size:28px; line-height:55px;}
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span em{ font-size:12px; line-height:normal; margin-top:30px;}
	
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span{ position: relative; width: 90px; height: 50px;}
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:before,
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:after {border-left: 45px solid transparent; border-right: 45px solid transparent;}
	
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:before { border-bottom: 25px solid #ffffff;}
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:after { border-top: 25px solid #ffffff;}
}

@media only screen and (max-width: 453px) {
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span{ font-size:21px; line-height:40px;}
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span em{ font-size:12px; line-height:normal; margin-top:25px;}
	
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span{ position: relative; width: 66px; height: 40px;}
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:before,
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:after {border-left: 33px solid transparent; border-right: 33px solid transparent;}
	
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:before { border-bottom: 20px solid #ffffff;}
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:after { border-top: 20px solid #ffffff;}
  
}

@media only screen and (max-width: 399px) {
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span{ font-size:18px; line-height:40px;}
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span em{ font-size:12px; line-height:normal; margin-top:25px;}
	
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span{ position: relative; width: 54px; height: 32px;}
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:before,
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:after {border-left: 27px solid transparent; border-right: 27px solid transparent;}
	
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:before { border-bottom: 16px solid #ffffff;}
	.uc_hex_countdown .uc_hex_countdown_inner .timer div span:after { border-top: 16px solid #ffffff;}
  
}

