.uc_bold_icon_box * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.uc_bold_icon_box {
    position: relative;
    font-family: Helvetica, ​Arial, ​sans-serif;
    width: 100%;
    overflow: hidden;
  	margin-top:-88px;
}
.uc_bold_icon_box a {
    transition: color 0.40s ease 0s, background-color 0.40s ease 0s;
}
.uc_bold_icon_box .bold_icon_box_container {
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.uc_bold_icon_box .bold_icon_box_container i {
	font-family: 'FontAwesome';
    width: 133px;
    line-height: 133px;
    text-align: center;
    height: 133px;
    font-size: 68px;
    color: #ffffff;
    margin-bottom: 24px;
    border-radius: 50%;
    position: relative;
    bottom: -88px;
}
.uc_bold_icon_box p {
    font-size: 16px;
    line-height: 30px;
    padding: 0px 0 20px 0;
    margin: 0px;
    color: #999999;
}
.uc_bold_icon_box a.readmore {
    background: #e6e6e6 none repeat scroll 0 0;
    border: 2px solid #e6e6e6;
    border-radius: 0;
    color: #4c4c4c;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 12px 21px;
    text-transform: uppercase;
    text-decoration: none;
}
.uc_bold_icon_box a.readmore:hover {
    background: #f0f0f0;
    border: 2px solid #f0f0f0;
}
.uc_bold_icon_box h3 {
    color: #292d33;
    display: block;
    font-weight: 700;
    font-size: 18px;
    padding: 0px 0px 17px;
    margin: 0px;
}
.uc_bold_icon_box .bold_icon_box_content {
    width: 100%;
    padding: 76px 20px 35px;
    background: #FFF;
}
