.uc_tag_footer
{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align:center;
}

.uc_tag_footer .uc_footer_block
{
	font-family: 'Roboto', sans-serif;
	padding:0px;
	margin:0px -2px;
	background-color:#FFFFFF;
	display:inline-block;
	padding:22px 0 41px;
	width:100%;
	list-style:none;
	font-size:16px;
	line-height:24px;
	color:#333333;
	text-align:center;
	box-sizing:border-box;
	font-weight:400i;
	border:1px solid;
	border-color:#d7d7d7;
}

.uc_tag_footer .uc_footer_block a
{
	color:#333333;
	text-decoration:none;	
} 

.uc_tag_footer .uc_footer_block i.uc_icon
{
	background-color:#fff;
	width:52px;
	height:42px;
	line-height:42px;
	font-size:24px;
	margin:0 auto 35px;
	position:relative;
	box-shadow:#dfdfdf -2px 7px 33px;
}

.uc_tag_footer .uc_footer_block i.uc_icon:after
{
	content:'';
	width: 0;
	height: 0;
	border-left: 26px solid transparent;
	border-top: 12px solid #fff ;
	border-right: 26px solid transparent;    
	position:absolute;
	bottom:-12px;
	left:0px;
}

.uc_tag_footer .uc_footer_block strong
{
	font-size:25px;
	color:#181818;
	font-weight:600i;
	display:block;
	margin-bottom:20px;
}

@media only screen and (max-width: 750px) 
{
	.uc_tag_footer .uc_footer_block { margin-bottom:25px;}
}