
.uc_gradient-flipbox {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
}
/* START: Accommodating for IE */
.uc_gradient-flipbox.hover .uc_flipper {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}
	
		/* END: Accommodating for IE */

		
.uc_flipper {
	transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    
	transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    
	position: relative;
}
.uc_front, .uc_back {
	backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.uc_front {
	z-index: 2;
	transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
}
.uc_back {
	transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}

	
.uc_gradient-flipbox, .uc_gradient-flipbox .uc_front, .uc_gradient-flipbox .uc_back {  width: 100%; height: 370px;}	


/*=========================
 front pane inner======================= */

.uc_gradient-flipbox .uc_front .uc_front_inner-box{position:absolute; width:100%; left:0; bottom:12%;}

/*=========================
 back pane ======================= */
.uc_gradient-flipbox .uc_back {	 padding:0px; text-align: center;  border-radius:5px;overflow: hidden;
}

/*=========================
 front pane inner======================= */

.uc_gradient-flipbox .uc_back .uc_front_inner-box{position:absolute; width:100%; left:0; top:50%; transform:translatey(-50%); text-align:center;}
.uc_gradient-flipbox  .uc_back .uc_front_inner-box h2{font-family: 'Galada', cursive; font-size:26px; color:#fff; font-weight:600; display:inline-block; margin:0px;}
.uc_gradient-flipbox .uc_back .uc_front_inner-box p {font-family: 'Raleway', sans-serif; margin:0px; line-height:30px; color:#fff; font-size:16px;}
.uc_gradient-flipbox .uc_back .arrow{ position:absolute; bottom:20px; right:30px;}
.uc_gradient-flipbox .uc_back .arrow a .fa-long-arrow-right{ font-size:20px; color:#fff;}

