
.uc_overlap_content *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.uc_overlap_content .uc
{
	margin:0 auto;
}

.uc_overlap_content .uc_overlap_content_container_holder
{
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	line-height:24px;
	overflow:hidden;
	color:#8a8a8a;
	font-weight:400;
	display:inline-block;
	background-color:#ffffff;
    margin: 0 0px 30px;
	float:left;
	box-shadow:#e8ebee 0px 5px 10px;     
	position:relative;
	width:100%;
}

.uc_overlap_content .owl-carousel .owl-stage-outer{ overflow:hidden;}

.uc_overlap_content .uc_overlap_content_content h2
{
	font-size:25px;
	margin-bottom:10px;
	font-weight:600;
}

.uc_overlap_content .uc_overlap_content_content .title_border
{
	width:110px;
	height:3px;
	display:block;
	margin-bottom:20px;
}

.uc_overlap_content .uc_overlap_content_content:hover .title_border
{
	background-color:#5cdc8f !important;
}

.uc_overlap_content .uc_overlap_content_content
{
	padding:30px;
	box-shadow:#ececec 3px 3px 3px;
	position:relative;
	height:153px;
}

.uc_overlap_content_box
{
	font-family: 'Open Sans', sans-serif;
	position:absolute;
	left:30px;
	right:30px;
	bottom:23px;
	padding:35px 30px 20px;
	width:calc( 100% -80%);
	text-align:center;
	box-shadow:#e8e7e7 5px 5px 27px;
}

.uc_overlap_content .uc_overlap_content_content p
{
	font-size:14px;
	line-height:22px;
	margin-bottom:18px;
}

.uc_overlap_content .uc_overlap_content_content .uc_more_btn
{
	font-size:14px;
	line-height:48px;
	text-decoration:none;
	border:1px solid;
	border-radius:24px;
	text-align:center;
	width:170px;
	margin:0 auto;
	font-weight:700; 
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.uc_overlap_content .uc_overlap_content_content:hover .uc_more_btn
{
	color:#ffffff !important;
	background-color:#326cff !important;
}

.uc_overlap_content .uc_overlap_content_border
{
	height:4px;
	display:block;
	width:100px;
	position:absolute;
	left:50%;
	top:0px;
	margin-left:-50px;
}

.uc_overlap_content  .uc_overlap_content_placeholder
{
	background-color:#ffffff;
}

.uc_overlap_content  .uc_overlap_content_placeholder img
{
	width:100%;
}

.uc_overlap_content .uc_overlap_content_content .uc_more_btn {
	
	display:block;
	font-size:14px;
	text-transform:uppercase;
	text-decoration:none;
}

.uc_overlap_content .uc_overlap_content_content i {
    font-size: 50px !important;
    margin-bottom: 40px;
}

.uc_overlap_content .owl-dots{ overflow:hidden; display:block !important; text-align:center; margin-top:22px;}
.uc_overlap_content .owl-dot { background-color:#c4c4cc; width:6px; height:6px; border-radius:50%; display:inline-block; margin:4px 15px 3px; }
.uc_overlap_content .owl-dot.active { background-color:#333333; width:14px; height:14px; margin:0 15px; }


.uc_overlap_content .owl-carousel.owl-drag .owl-item{ padding:0 0.2% 0;}



.uc_overlap_content .uc_overlap_content_container_holder .uc_figar_box img{ width:100%;}





