
.uc_giant_circle_testimonial *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.uc_giant_circle_testimonial .uc_gient_circle_box{
	text-align:center;
	line-height: 24px;
	font-size: 14px;
	clear:both;
	overflow:hidden;
	padding:30px;
	font-family:Georgia;
}

.uc_giant_circle_testimonial .uc_gient_circle_box .uc_circle_box_left{
	display:block;
	width:45%;
	float:left;
	text-align:left;
	font-size:28px;
	color:#555;
	position:relative;
}
.uc_giant_circle_testimonial .uc_gient_circle_box .uc_circle_box_left .uc_left_content{
	padding-top:0px;
}
.uc_giant_circle_testimonial .uc_gient_circle_box .uc_circle_box_left p{
	line-height:48px;
	padding:0;
	margin:0 0 25px;
}
.uc_giant_circle_testimonial .uc_gient_circle_box .uc_circle_box_left strong{
	display:block;
	color:#737373;
	font-family: 'Lato', sans-serif;
	font-size:20px;
}
.uc_giant_circle_testimonial .uc_gient_circle_box .uc_circle_box_left span{
	color:#c1c4c8;
	font-family: 'Lato', sans-serif;
	display:block;
	font-size:20px;
}

.uc_giant_circle_testimonial .uc_gient_circle_box .uc_circle_box_right{
	display:inline-block;
	width:40%;
	float:right;
}
.uc_giant_circle_testimonial .uc_gient_circle_box .uc_circle_box_right img{
	width:100%;
	height:100%;
	border-radius: 50%;
}

@media only screen and (max-device-width: 850px) {
.uc_giant_circle_testimonial .uc_gient_circle_box .uc_circle_box_left{ width:54%;font-size: 22px;}

.uc_giant_circle_testimonial .uc_gient_circle_box .uc_circle_box_left p {
  line-height: 32px;}
  
}
@media only screen and (max-device-width: 700px) {
 .uc_giant_circle_testimonial .uc_gient_circle_box .uc_circle_box_left{ font-size: 20px;} 
  .uc_giant_circle_testimonial .uc_gient_circle_box .uc_circle_box_left strong{font-size: 20px;}
  .uc_giant_circle_testimonial .uc_gient_circle_box .uc_circle_box_left span{font-size: 20px;}
}

@media only screen and (max-device-width: 640px) {
  .uc_giant_circle_testimonial .uc_gient_circle_box .uc_circle_box_right img{
    height: 50%;
    width: 50%;}
  .uc_giant_circle_testimonial .uc_gient_circle_box .uc_circle_box_left{ width:100%; text-align:center;}
  .uc_giant_circle_testimonial .uc_gient_circle_box .uc_circle_box_right{ width:100%; text-align:center;}
  .uc_circle_box_right{ margin:15px 0 0 0;}
}
}