.uc_bold_content_box * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.uc_bold_content_box {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.uc_bold_content_box .uc_icon_box {
	padding: 0 55px 40px;
	background-color: #f9f9f9;
	color: #9c9c9c;
	font-weight: 400;
	font-size: 15px;
	transition: all 0.2s ease 0s;
}
.uc_bold_content_box .uc_icon_box .uc_icon_wrapper {
	display: inline-block;
	height: 70px;
	line-height: 85px;
	color: #fff;
	transition: background 0.25s ease 0s;
	width: 70px;
}
.uc_bold_content_box .uc_icon_box:hover .uc_icon_wrapper {
	background: #333333;
}
.uc_bold_content_box .uc_icon_box .uc_icon_wrapper .uc_icon {
	font-size: 35px;
}
	.uc_bold_content_box .uc_icon_box:hover .uc_icon_wrapper {
	background: rgba(0,0,0,0.8) !important;
}
.uc_bold_content_box .uc_icon_box h5 {
	color: #333333;
	font-size: 21px;
	text-transform: uppercase;
	font-weight: 400;
	margin: 25px 0;
	font-weight: bold;
}
.uc_text {
	line-height: 26px;
	max-width: 240px;
	margin: auto;
}
.uc_bold_content_box .uc_icon_box:hover .uc_text {
	color: #333333;
}
