.uc-centered-footer * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.uc-centered-footer{
	position:relative;
}
.uc-centered-footer .uc-footer-container{ 
	max-width: 100%;
	text-align:center;
	vertical-align:top;
}
.uc-centered-footer .uc-footer-container .uc-content-box{ 
}
.uc-centered-footer .uc-footer-container .uc-content-box strong{
	font-weight:600;
	font-size:24px;
	line-height:22px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	margin-bottom:20px;
	display:block;
}
.uc-centered-footer .uc-footer-container .uc-content-box .uc-icons{
	background:transparent;
}
.uc-centered-footer .uc-footer-container .uc-content-box .uc-icons i{
	font-size:24px;
	margin:0 21px;
	line-height:46px;
}
.uc-centered-footer .uc-footer-container .uc-content-box .uc-info{ 
	font-size:16px;
	line-height:30px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	margin-bottom:30px;
}

@media only screen and (max-width: 639px) {

	.uc-centered-footer .uc-footer-container .uc-content-box{ display:block; margin-bottom:40px; background:none; padding:0 30px;}
}



















