@charset "utf-8";
/* CSS Document */


.uc_very_simple_product_box * { 
	margin: 0; padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

.uc_very_simple_product_box .uc_top_product{ height:380px; position:relative;overflow: hidden;}
.uc_very_simple_product_box .uc_top_product .uc_top_pic{ position:absolute; left:0px; width:100%; top:55%; transform:translateY(-50%); text-align:center;}



.uc_very_simple_product_box .uc_very_simple_product_box_inner{overflow:hidden; padding:0px;/*font-family: 'Droid Serif', serif;*/font-family: 'Open Sans', sans-serif;}
.uc_very_simple_product_box .uc_very_simple_product_box_inner .uc_left{ padding:20px 20px 0; text-align:center;}
.uc_very_simple_product_box .uc_very_simple_product_box_inner .uc_left p{ font-size:20px;font-weight:400; margin:0px; line-height:normal;}
.uc_very_simple_product_box .uc_very_simple_product_box_inner .uc_left h2{ font-size:20px;font-weight:400; line-height:normal; margin:3px 0 13px;  text-transform:uppercase;}
.uc_very_simple_product_box .uc_very_simple_product_box_inner .uc_left .fa{ font-size:14px; margin:0 3px 0 0; color:#ffc24b;}
.uc_very_simple_product_box .uc_very_simple_product_box_inner .uc_left .uc_button_box{ text-align:center; padding:15px 0;}
.uc_very_simple_product_box .uc_very_simple_product_box_inner .uc_left a{ padding:5px 0; text-transform:uppercase; font-size:14px;font-weight:700; text-decoration:none;font-family: 'Open Sans', sans-serif; margin:0px; display:inline-block;width:44%; line-height:normal;}

.uc_very_simple_product_box .uc_left a:hover{ color:#000; background:none !important;}



@media only screen and (max-width: 767px) {
.uc_very_simple_product_box .uc_very_simple_product_box_inner .uc_left a{ width:49%;}
	
}