@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

.uc_icon_hover_effect_button *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.uc_icon_hover_effect_button .uc_container_holder {
	position:relative;
	text-align:center;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

.uc_icon_hover_effect_button .uc_container_holder .uc_color-5 {
	background: #9e54bd;
	padding:20px 0;
}

/* General button style (reset) */
.uc_icon_hover_effect_button .uc_container_holder .uc_btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	
	margin: 2px;
	
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.uc_icon_hover_effect_button .uc_container_holder .uc_btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


/* Button 5 */
.uc_icon_hover_effect_button .uc_container_holder .uc_btn-5 {
	background: #823aa0;
	color: #fff;
	height: 75px;
	min-width: 260px;
	line-height: 24px;
	font-size: 16px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.uc_icon_hover_effect_button .uc_container_holder .uc_btn-5:active {
	background: #9053a9;
	top: 2px;
}

.uc_icon_hover_effect_button .uc_container_holder .uc_btn-5 span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.uc_icon_hover_effect_button .uc_container_holder .uc_btn-5 i {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 2.5;
	font-size: 180%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.uc_icon_hover_effect_button .uc_container_holder .uc_btn-5:active: i {
	color: #703b87;
}

/* Button 5a */
.uc_icon_hover_effect_button .uc_container_holder .uc_btn-5a:hover span {
	-webkit-transform: translateY(300%);
	-moz-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%);
}

.uc_icon_hover_effect_button .uc_container_holder .uc_btn-5a i {
	left: 0;
	top: -100%;
}

.uc_icon_hover_effect_button .uc_container_holder .uc_btn-5a:hover i {
	top: 0;
}

/* Button 5b */
.uc_icon_hover_effect_button .uc_container_holder .uc_btn-5b:hover span {
	-webkit-transform: translateX(200%);
	-moz-transform: translateX(200%);
	-ms-transform: translateX(200%);
	transform: translateX(200%);
}

.uc_icon_hover_effect_button .uc_container_holder .uc_btn-5b i {
	left: -100%;
	top: 0;
}

.uc_icon_hover_effect_button .uc_container_holder .uc_btn-5b:hover i {
	left: 0;
}