
.uc_jumbo_tabs *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#uc_jumbo_tabs{
	font-family: 'Open Sans', sans-serif;	
	font-weight:400;
	font-size:14px;
	line-height:normal;
	padding:4px;
	display:table-cell;
	position:relative;
}


/*tab nav
===================*/
#uc_jumbo_tabs .uc_tab_nav{
	padding:10px;
	float:right;
	list-style:none;
	width:177px;
}

#uc_jumbo_tabs .uc_tab_nav li{
	display:block;
	position:relative;
	border-left:1px solid transparent;
	margin-bottom:10px;
}

#uc_jumbo_tabs .uc_tab_nav li:last-child
{
	margin-bottom:0px;
}

#uc_jumbo_tabs .uc_tab_nav li.r-tabs-state-active a
{
	background-color:#4638ff !important;
}
#uc_jumbo_tabs .uc_tab_nav li a{
	display:block;
	padding:19px 15px;
	position:relative;
   text-align:center;
   text-decoration:none;
}

#uc_jumbo_tabs .uc_tab_nav li a i
{
	font-size:30px;
	display:block;
	padding:5px 0 5px;
	text-decoration:none;

}

#uc_jumbo_tabs .uc_tab_nav li a span{
	width: 3px;
	position: absolute;
	left: -2px;
	top: 15%;
	border-left:3px;
	height:70%;
	display:none;
}

#uc_jumbo_tabs .uc_tab_content h3
{
	font-size:35px;
	line-height:50px;
	margin-bottom:29px;
	font-weight:700;
}

#uc_jumbo_tabs .uc_tab_nav li a h2{
    text-transform:uppercase;
	font-weight:600;
	font-size:14px;
	display:inline-block;
	line-height:24px;
	padding:0;
	margin:0;
}

#uc_jumbo_tabs .uc_tab_nav li.r-tabs-state-active a{
	color:#1b1b1b !important;
}
#uc_jumbo_tabs .uc_tab_nav li.r-tabs-state-active a span{
	display:block;
}

#uc_jumbo_tabs .uc_border
{
	position:absolute;
	left:-2px;
	width:4px;
	top:47px;
	bottom:47px;
	height:74%;	
}



/*tab content
===================*/
#uc_jumbo_tabs .uc_tab_content{
	padding:40px;
	font-size:14px;
	font-weight:400;
	float:left;
	width:calc( 100% - 20%);
	min-height:220px;
    font-family: 'Open Sans', sans-serif;
	border-left:1px solid transparent;
	position:relative;
}

#uc_jumbo_tabs .uc_tab_container
{
	position:relative;
}

#uc_jumbo_tabs .uc_tab_content p{
	line-height:31px;
	padding:0;
	margin:0;
}
#uc_jumbo_tabs .uc_tab_content span.uc_top_border{
	width:50px;
	height:3px;
	display:block;
	margin-bottom:22px;
}

@media only screen and (max-width: 910px) {
	#uc_jumbo_tabs .uc_tab_content{ width:60%;}
	#uc_jumbo_tabs .uc_tab_nav{ width:20%;}
}

@media only screen and (max-width: 767px) {
	#uc_jumbo_tabs .uc_tab_content span.uc_top_border{ display:none;}
  #uc_jumbo_tabs .r-tabs-anchor{ margin-bottom:15px;}
}







