@charset "utf-8";
/* CSS Document */


.uc_effect_countdown * { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.uc_effect_countdown .uc_effect_countdown_inner{ background-size:cover !important;}
.uc_effect_countdown .uc_effect_countdown_inner .timer { width: 100%; text-align: center; padding:27px 0; clear:both; overflow:hidden;}
.uc_effect_countdown .uc_effect_countdown_inner .timer div { 
	width: 200px; 
	margin: 13px 10px;
	text-align: center; 
	position:relative;
	display:inline-block;
}
.uc_effect_countdown .uc_effect_countdown_inner .timer div:before{
	background:#a1e8e4;
	position:absolute;
	left:0px;
	top:-15px;
	height:15px;
	width:86%;
	margin:0 7%;
	content:"";
	z-index:0;
}
.uc_effect_countdown .uc_effect_countdown_inner .timer div em{ 
	font-style:normal;
	padding:60px 0 40px;
	display: block;
	color: #fff; 
	line-height: 31px; 
	font-size:70px;
	font-family: 'Oswald', sans-serif;
	font-weight:700;
}
.uc_effect_countdown .uc_effect_countdown_inner .timer div span{
	display: block; 
	position: relative;
	line-height: 31px; 
	font-weight:400;
	font-size:20px;
	color:#fff;
	padding:0 0 25px 0;
	text-transform:uppercase;
	font-family: 'Oswald', sans-serif;
}

/*@media only screen and (max-width: 540px) {
	.uc_effect_countdown .uc_effect_countdown_inner .timer div em{ font-size:30px;}
	.uc_effect_countdown .uc_effect_countdown_inner .timer div span{ font-size:14px; padding:5px 0;}
}*/
