
.uc_side_solid_tabs *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#uc_side_solid_tabs{
	font-weight:400;
	font-size:14px;
	line-height:normal;
	padding:0;
	margin:0;
	overflow:hidden;
}

/*tab nav
===================*/
#uc_side_solid_tabs .uc_tab_nav{
	float:left;
	list-style:none;
	width:21%;
}
#uc_side_solid_tabs .uc_tab_nav li{
	display:block;
	position:relative;
	border-left:1px solid transparent;
	margin-right:5%;
}
#uc_side_solid_tabs .uc_tab_nav li a{
	display:block;
	padding:19px 10px 19px 40px;
	position:relative;
	font-family: 'Montserrat', sans-serif;
}
#uc_side_solid_tabs .uc_tab_nav li a h2{
	font-weight:600;
	font-size:14px;
	display:inline-block;
	line-height:24px;
	padding:0;
	margin:0;
}

#uc_side_solid_tabs .uc_tab_nav li.r-tabs-state-active{
	margin-right:0;
}
#uc_side_solid_tabs .uc_tab_nav li.r-tabs-state-active a span{
	position:absolute;
	left:-1px;
	top:25%;
	height:50%;
	background:#fff;
	width:4px;
}

/*tab content
===================*/
#uc_side_solid_tabs .uc_tab_content{
	padding:60px 4% 0;
	font-size:14px;
	font-weight:400;
	float:right;
	width:68%;
    font-family: 'Open Sans', sans-serif;
	border-left:1px solid transparent;
}
#uc_side_solid_tabs .uc_tab_content p{
	line-height:31px;
	padding:0;
	margin:0;
}


@media only screen and (max-width: 1115px) {
	#uc_side_solid_tabs .uc_tab_content{ padding:60px 40px 0;}
}
@media only screen and (max-width: 950px) {
	#uc_side_solid_tabs .uc_tab_content{ padding:15px 30px 0;}
	#uc_side_solid_tabs .uc_tab_content{ width:65%;}
	#uc_side_solid_tabs .uc_tab_nav{ width:25%;}
}








