
.uc_elegant_accordion *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.uc_elegant_accordion .uc_container
{
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}
.uc_elegant_accordion .uc_container .uc-heading
{
	font-size:15px;
	line-height:30px;
	display:block;
	padding:4px 20px;
	font-weight:400;
	overflow:hidden;
	cursor:pointer;
}

.uc_elegant_accordion .uc_container .uc_ac_box
{
	border:#e9e9e9 1px solid;
	margin-bottom:4px;
}

/*----------CSS--------------------*/

.uc_elegant_accordion .uc_container .uc_content
{
	font-size:15px;
	line-height:22px;
	padding:5px 22px 33px 53px;
	font-weight:400;
	color:#929292;
    display:none;
	margin-top:2px;
	margin-bottom:2px;
}

.uc_elegant_accordion .uc_container .uc-heading
{
	color:#575757;
	margin-top:2px;
	margin-bottom:2px;
}


/*----------CSS--------------------*/

.uc_elegant_accordion .uc_container .uc-heading span
{
	float:left;
	font-size:15px;
	display:block;
	line-height:30px;
	margin-right:20px;
}

.uc_elegant_accordion .uc_container .uc-heading span.uc_active
{
	display:none;
}

.uc_elegant_accordion .uc_container .uc-heading span.uc_dactive
{
	display:block;
}

.uc_elegant_accordion .uc_container .uc-heading.active span.uc_active
{
	display:block;
}

.uc_elegant_accordion .uc_container .uc-heading.active span.uc_dactive
{
	display:none;
}
.uc_elegant_accordion .uc_container .uc-heading em
{ 
	display:block; 
	float:left; 
	width:calc(100% - 80px);
	font-style:normal;
}


@media only screen and (max-width: 767px){
	

	.uc_elegant_accordion .uc_container .uc-heading span { margin-left:0px;}
	.uc_elegant_accordion .uc_container .uc-heading em { width:calc(100% - 35px); line-height:18px;}
	
}