.uc_circle_countdown * {
	margin: 0;
	padding: 0;
}
.uc_circle_countdown {
	box-sizing: border-box;
	font-family: 'Source Code Pro';
	line-height: 1.7;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
	color: #fff;
	overflow:hidden;
}
.uc_circle_countdown .uc_countdown_content {
	text-align: center;
	width: 100%;
	display:block;
}
.uc_circle_countdown .uc_countdown_content .uc_countdown_section {
	display:inline-block;
	margin: 0 15px;
	border-radius:50%;
	border:5px solid white;
}
.uc_circle_countdown .uc_countdown_content .uc_countdown_section span.uc_countdown_amount {
	display: block;
	text-align: center;
	font-size: 50px;
	line-height: 50px;
	padding: 31px 0 12px;
}
.uc_circle_countdown .uc_countdown_content .uc_countdown_section span.uc_countdown_period {
	clear: both;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	padding: 0 4px;
	text-transform: uppercase;
	border-radius: 2px;
}



@media(max-width: 479px) {
.uc_circle_countdown .uc_countdown_content .uc_countdown_section {
	margin-bottom: 30px;
	width: 150px;
	height: 150px;
}
.uc_circle_countdown .uc_countdown_content .uc_countdown_section span.uc_countdown_amount {
	font-size: 20px;
	line-height: 20px;
}
.uc_circle_countdown .uc_countdown_content .uc_countdown_section span.uc_countdown_period {
	font-size: 14px;
	line-height: 20px;
	text-transform: none;
}
}

@media (min-width: 480px) and (max-width: 767px) {
.uc_circle_countdown .uc_countdown_content {
	margin-top: 25px;
}
.uc_circle_countdown .uc_countdown_content .uc_countdown_section {
	margin-bottom: 30px;
	width: 150px;
	height: 150px;
}
.uc_circle_countdown .uc_countdown_content .uc_countdown_section span.uc_countdown_amount {
	font-size: 20px;
	line-height: 20px;
}
.uc_circle_countdown .uc_countdown_content .uc_countdown_section span.uc_countdown_period {
	font-size: 14px;
	text-transform: none;
}
}

@media (min-width: 768px) {
.uc_circle_countdown .uc_countdown_content .uc_countdown_section {
	width: 150px;
	height: 150px;
}
}
